<h1>Recipes: </h1>

<% @recipes.each do |recipe| %>
<div class="post">
  <p>Recipe: <%= recipe.name %></p><br>
  <p>Ingredients <%= recipe.ingredients %></p></br>
  <p>Cook Time: <%= recipe.cook_time %> minutes </p></br>
</div> <br>


<% end %>

<h1>Posts: </h1>
<% @posts.each do |post| %>
<div class="post">
  <p>Name: <%= post.name %></p><br>
  <p>Content: <%= post.content %></p><br>
</div><br>
<% end %>
